/* Import Fonts from Google */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

/* Eliminate  Margin, Border and Padding as Default */

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #2d2b42;
}

#hero-image-div {
    justify-content: center;
}



/* Styling for index.html at 150px */

/*Header Section */

@media only screen and (min-width: 150px) {

    #header-div {
        height: 33vh;
        background-color: #2d2b42;
        box-sizing: border-box;
    }

    #heading {
        height: 33%;
        padding-top: 0.5em;
    }

    #links-div {
        height: 67%;
        margin-top: 2em;
        padding-top: 1em;
    }

    h1 {
        font-family: 'Lobster', cursive;
        color: #ffffff;
        font-size: 2em;
        margin: auto;
        padding-left: 0.5em;
        font-weight: 400;
    }

    h2 {
        font-family: 'Lobster', cursive;
        color: #ffffff;
        font-size: 1.1em;
        margin: auto;
        padding-left: 1em; 
        font-weight: 200;
    }

/* General Text Settings */

    p {
        font-family: 'Signika', sans-serif;
        color: #2d2b42;
        margin: 0.5em;
        font-size: 1em;
        padding: 0;
    }

    /* Hover Animation */

    a:link {
        color: inherit;
        text-decoration: none;
    }
    
    a:visited {
        color: #2d2b42;
    }
    
    a:hover {
        color: #2d2b42;
        }
    
    .grow {
            transition: all .2s ease-in-out; 
        }
        
    .grow:hover { 
        transform: scale(1.1); 
        }    
    
    a:active {
            color: #2d2b42;
            border-bottom: 1px solid #2d2b42;
            text-decoration: underline;
        }


    /* Hero Image Section */

    .welcome-blurb {
        display: none;
    }

    #hero-image-div {
        height: 55vh;
        margin-bottom: 2em;
        margin-top: 1.5em;
        display: flex;
        align-items: center;
    }

    #hero-flex-container {
        height: 100%;
        min-height: 55vh;
        display: flex;
        align-items: center;
    }

    #hero-image {
        height: 55vh;
        max-width: 100%;
        object-fit: cover;
    }
    
    /*What We Do Section */

    #what-we-do-section {
        background: #2d2b42;
        padding-bottom: 1em;
    }

    #what-we-do-div {
        text-align: center;
    }

    #what-we-do-div > p {
        color: white;
    }

    .white-text {
        color: white;
        text-align: center;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 0;
        padding-left: 0;
    }
    
    #swimmer-image-div {
        height: 33vh;
        margin: auto;
        display: flex;
        justify-content: center;
        background-color: #2d2b42;
    }

    #swimmer-image {
        max-height: 33vh;
        object-fit: contain;
        margin: auto;
    }

    /* Vacancies Section and Grid Container */

    #vacancies {
        background-color: white;
    }

    #vacancies-heading {
        color:#2d2b42;
        padding-top: 1em;
        text-align: center;
        font-size: 1.5em;
        padding-left: 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        position: relative;
        z-index: 5;
    }

    .grid-item {
        height: 33vh;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        overflow: hidden;
        background-color: black;
    }

    .grid-image {
        min-height: 33vh;
        object-fit: cover;
        max-width: 130%;
        opacity: 0.5;
    }

    .nested-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        position: absolute;
        z-index: 100;
        pointer-events: none;
    }

    .grid-item2 {
        display: flex;
        height: 33vh;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        text-align: center;
        justify-content: center;  
    }

    .p1 {
        font-size: 1em;
        color: white;
        margin: auto;
        transition: transform 0.5s ease-in-out;   
    }

    /* Footer Section */
      
    #footer-div {
        margin-top: 1em;
        text-align: center;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: white;
    }

    ul {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    li {
        margin: auto;
        display: flex;
        color: #2d2b42;
        font-size: 1.5em;
        text-align: center;
    }
}

@media only screen and (min-width: 205px) {

    #heading {
        max-width: 75vw;
    }
}

@media only screen and (min-width: 254px) {

    #header-div {
        height: 20vh;
    }

    #links-div {
        margin-top: 15px;
        padding: 0;
    }

    #hero-image-div {
        margin-bottom: 0;
    }

    #swimmer-image-div {
        height: 50vh;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    #swimmer-image {
        max-height: 50vh;
    }

    .white-text {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
 
}

@media only screen and (min-width: 320px) {

    .nested-container {
        width: 100vw;
    }

    .grid-item2 {
        width: 80%;
    }

    #hero-image-div {
        background-color: white;
        padding-top: 2em;
    }

    #what-we-do-section {
        background-color: white;
    }

    .white-text {
        color: #2d2b42;
    }

    #what-we-do-div > p {
        color: #2d2b42;
        margin: 1.5em;
    }

    #swimmer-image-div {
        background-color: white;
    }

    #hero-image {
        border-radius: 50%;
        height: 50vh;
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .nested-container {
        width: 100%;
        place-items: center;
    }

    .grid-item2 {
        margin-right: 0;
        margin-left: 0;
    }

    #footer-div {
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media only screen and (min-width: 400px) {

    h1 {
        font-size: 2.5em;
    }

    .header-link {
        font-size: 1.2em;
    }

    #header-div {
        height: 25vh;
    }

    #links-div {
        margin-top: 25px;
    }

    #hero-image-div {
        padding-top: 4em;
    }

    .welcome-blurb {
        display: block;
        background-color: white;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .welcome-blurb > h2 {
        color: #2d2b42;
        margin: 0;
        padding: 1.5em;
        font-weight: 100;
        font-size: 1.4em;
        text-align: center;
    }

    #what-we-do-section {
        background-color: #2d2b42;
    }

    #what-we-do-div > p {
        color: white;
        margin-top: 0;
    }

    .white-text {
        color: white;
        font-size: 2em;
    }

    #vacancies-heading {
        font-size: 2em;
    }

    #swimmer-image-div {
        background-color: #2d2b42;
    }
}

@media only screen and (min-width: 420px) {

    .welcome-blurb > h2 {
        padding-top: 0.75em;
    }
}
