/* Import Fonts from Google */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

/* Eliminate  Margin, Border and Padding as Default */

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #2d2b42;
}

#hero-image-div {
    justify-content: center;
}


/* Styling for index.html at 150px */

/*Header Section */

@media only screen and (min-width: 150px) {

    #header-div {
        height: 33vh;
        background-color: #2d2b42;
        box-sizing: border-box;
    }

    #heading {
        height: 33%;
        padding-top: 0.5em;
    }

    #links-div {
        height: 67%;
        margin-top: 2em;
        padding-top: 1em;
    }

    h1 {
        font-family: 'Lobster', cursive;
        color: #ffffff;
        font-size: 2em;
        margin: auto;
        padding-left: 0.5em;
        font-weight: 400;
    }

    h2 {
        font-family: 'Lobster', cursive;
        color: #ffffff;
        font-size: 1.1em;
        margin: auto;
        padding-left: 1em; 
        font-weight: 200;
    }

/* General Text Settings */

    p {
        font-family: 'Signika', sans-serif;
        color: #2d2b42;
        margin: 0.5em;
        font-size: 1em;
        padding: 0;
    }

    #what-do-p.special {
        color: white;
    }

    /* Hover Animation */

    a:link {
        color: inherit;
        text-decoration: none;
    }
    
    a:visited {
        color: #2d2b42;
    }
    
    a:hover {
        color: #2d2b42;
        }
    
    .grow {
            transition: all .2s ease-in-out;
        }
        
    .grow:hover { 
        transform: scale(1.1);
        }    
    
    a:active {
            color: #2d2b42;
            border-bottom: 1px solid #2d2b42;
            text-decoration: underline;
        }


    /* Hero Image Section */

    .welcome-blurb {
        display: none;
    }

    #hero-image-div {
        height: 55vh;
        margin-bottom: 2em;
        align-items: center;
    }

    #hero-flex-container {
        height: 100%;
        min-height: 55vh;
        display: flex;
        align-items: center;
    }

    #hero-image {
        height: 55vh;
        max-width: 100%;
        object-fit: cover;
    }
    
    /*What We Do Section */

    #what-we-do-section {
        background: #2d2b42;
        padding-bottom: 1em;
    }

    #what-we-do-div {
        text-align: center;
    }

    #what-we-do-div > p {
        color: white;
    }

    .white-text {
        color: white;
        text-align: center;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 0;
        padding-left: 0;
    }
    
    #swimmer-image-div {
        height: 33vh;
        margin: auto;
        display: flex;
        justify-content: center;
        background-color: #2d2b42;
    }

    #swimmer-image {
        max-height: 33vh;
        object-fit: contain;
        margin: auto;
    }

    /* Vacancies Section and Grid Container */

    #vacancies {
        background-color: white;
    }

    #vacancies-heading {
        color:#2d2b42;
        padding-top: 1em;
        text-align: center;
        font-size: 1.5em;
        padding-left: 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        position: relative;
        z-index: 5;
        height: auto;
    }

    .grid-item {
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        overflow: hidden;
        background-color: black;
    }

    .grid-image {
        object-fit: cover;
        max-width: 130%;
        opacity: 0.5;
        height: 100%;
    }

    .nested-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        position: absolute;
        z-index: 100;
        pointer-events: none;
        height: 100%;
    }

    .grid-item2 {
        display: flex;
        height: 100%;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        text-align: center;
        justify-content: center;  
    }

    .p1 {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: white;
        margin: auto;
        transition: transform 0.5s ease-in-out;   
    }

    /* Footer Section */
      
    #footer-div {
        margin-top: 1em;
        text-align: center;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: white;
    }

    ul {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    li {
        margin: auto;
        display: flex;
        color: #2d2b42;
        font-size: 1.5em;
        text-align: center;
    }

    /* Available Sports Page What We Offer Section */

    .available-sports-container {
        height: 600px;
        background-color: white;
        text-align: center;
    }

    #soccerman {
        height: 50vh;
        display: flex;
        justify-content: center;
    }

    .available-body {
        background-color: white;
    }

    #soccerman-image {
        padding-top: 30px;
        max-width: 100%;
        object-fit: cover;
    }

    .blue-text {
        color: #2d2b42;
        text-align: center;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 0;
        padding-left: 0;
    }

    #available-sports-flex-container {
        max-width: 100vw;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto); /* specify a minimum height of 100px for rows */
        grid-gap: 10px;
    }

    .sport-div-img {
        object-fit: cover;
        max-width: 100%;
        margin-bottom: 50px;
    }

    hr {
        color: #2d2b42;
        background-color: #2d2b42;
        height: 5px;
        text-align: center;
        width: 80%;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 205px) {


    #heading {
        max-width: 75vw;
    }
}

@media only screen and (min-width: 254px) {

    #header-div {
        height: 22vh;
    }


    #links-div {
        margin-top: 15px;
        padding: 0;
    }

    #hero-image-div {
        margin-bottom: 0;
    }

    #swimmer-image-div {
        height: 50vh;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    #swimmer-image {
        max-height: 50vh;
    }

    .white-text {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
 
}

@media only screen and (min-width: 320px) {


    .nested-container {
        width: 100vw;
    }

    .grid-item2 {
        width: 80%;
    }

    #hero-image-div {
        background-color: white;
        padding-top: 2em;
    }

    #what-we-do-section {
        background-color: white;
    }

    .white-text {
        color: #2d2b42;
    }

    #what-do-p.special {
        color: #2d2b42;
        margin: 1.5em;
    }

    #swimmer-image-div {
        background-color: white;
    }

    #hero-image {
        border-radius: 50%;
        height: 50vh;
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .nested-container {
        width: 100%;
        place-items: center;
    }

    .grid-item2 {
        margin-right: 0;
        margin-left: 0;
    }

    #footer-div {
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .blue-paragraph {
        margin: 1.5em;
    }

    .blue-text {
        padding-top: 1.5em;
    }
}

@media only screen and (min-width: 400px) {

    h1 {
        font-size: 2.5em;
    }

    .header-link {
        font-size: 1.2em;
    }

    #header-div {
        height: 28vh;
    }

    #links-div {
        margin-top: 25px;
        padding-left: 10px;
    }

    #hero-image-div {
        padding-top: 4em;
        height: 700px;
    }

    #hero-image {
        height: 400px;
        width: 400px;
    }

    .hero-flex-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 0.75fr;
        width: 100%;
        height: auto;
        background-color: white;
        }
    

    .welcome-blurb {
        display: flex;
        padding-top: 2em;
        padding-bottom: 2em;
        justify-content: center;
        width: 100%;
        margin: auto;
        text-align: center;
        height: 600px;
        font-size: 150%;
    }

    .welcome-blurb > h2 {
        color: #2d2b42;
        margin: 0;
        padding: 1.5em;
        font-weight: 100;
        font-size: 1.4em;
        text-align: center;
    }

    #what-do-p.special {
        color: white;
    }

    #what-we-do-section {
        background-color: #2d2b42;
    }

    #what-we-do-div > p {
        color: white;
        margin-top: 0;
    }

    .white-text {
        color: white;
        font-size: 2em;
    }

    #vacancies-heading {
        font-size: 2em;
    }

    #swimmer-image-div {
        background-color: #2d2b42;
    }

    .available-sport-image {
        display: flex;
        justify-content: center;
    }

    .sport-div-img {
        max-width: 80%;
    }
}

@media only screen and (min-width: 500px) {

    #header-div {
        height: 33vh;
    }

    .welcome-blurb {
        font-size: 175%;
    }

    .header-link {
        font-size: 1.5em;
    }

    #heading {
        padding-top: 1em;
    }

    .white-text {
        font-size: 2.5em;
        padding-bottom: 1em;
    }

     #what-do-p.special {
        font-size: 1.5em;
        color: white;
        margin-left: 50px;
        margin-right: 50px;
    }

    .blue-text {
        font-size: 2.5em;
        padding-bottom: 1em;
    }

    .blue-paragraph {
        font-size: 1.5em;
        margin-left: 50px;
        margin-right: 50px;
    }

    .available-sports-container {
        height: auto;
    }

    .sport-div-img {
        max-height: 350px;
    }
}

@media only screen and (min-width: 520px) {

    .grid-container, .nested-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

 @media only screen and (min-width: 600px) {

    #links-div {
        display: flex;
        padding-left: 0;
    }

    #header-div {
        height: auto;
    }

    #header-div.header2 {
        margin-bottom: 0;
    }

    #available-sports {
        border-top: 25px solid #2d2b42;
    }
    
    #what-we-do-section {
        height: auto;
    }

    .what-do-div {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: auto;
        height: 100%;
        padding-bottom: 30px;
    }

    #what-we-do-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        height: auto;
    }
    

    #swimmer-image-div {
        justify-content: center;
        margin: auto;
        display: flex;
        height: 100%;
        width: 40%;
        overflow: hidden;
    }

    #swimmer-image {
        object-fit: cover;
        display: flex;
        max-height: 80vh;
        padding-bottom: 50px;
    }

    .available-sports-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        height: auto;
    }

    #soccerman {
        justify-content: center;
        margin: auto;
        display: flex;
        height: 100%;
        width: 40%;
        overflow: hidden;
    }

    #soccerman-image {
        object-fit: cover;
        display: flex;
        max-height: 80vh;
        padding-bottom: 50px;
    }
    
}

@media only screen and (min-width: 950px) {


    #header-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
       
    #heading  {
        display: flex;
    }

    #logo {
        font-size: 300%;
        letter-spacing: 2px;
        margin-left: 30px;
        padding-top: 15px;
        display: flex;
        }

    #links-div {
        display: flex;
        align-items: center;
        margin-top: 35px;
        margin-right: 50px;
        text-align: right;
        justify-content: right;
        width: 55vw;
    }

    h2.header-link {
        font-size: 2em;
    }

    .hero-flex-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .welcome-blurb {
        align-items: center;
        padding: 0;
        text-align: right;
        
    }

    #hero-image-div {
        height: 600px;
        padding: 0;
    }

    .question {
        margin-right: 100px;
    }
 
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 800px;
    }

    .nested-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 800px;
    }


    #footer-div {
        padding-left: 150px;
        padding-right: 150px;
        font-size: 1.5em;
    }

    .socials {
        height: 110px;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    #what-we-do-div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #what-do-p.special{
        text-align: left;
        margin-top: 50px;
    }

    .white-text {
        margin-left: 50px;
        text-align: left;
    }

    #swimmer-image-div {
        width: 60%;
    }

    #vacancies-heading {
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 2.5em;
    }

    .grid-image {
        max-width: 130%;
        min-height: 100%;
    }

    .available-sports-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .blue-paragraph{
        text-align: left;
        margin-top: 50px;
    }

    .blue-text {
        margin-left: 50px;
        text-align: left;
    }

    #soccerman {
        width: 60%;
    }

    #available-sports {
        border-top: none;
    }

    hr {
    color: #2d2b42;
    background-color: #2d2b42;
    height: 5px;
    text-align: left;
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    }

    #available-sports-flex-container {
    max-width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    }

    .sport-div-img {
        margin-top: 33%;
        object-fit: contain;
    }
}

@media only screen and (min-width: 800px) {

    #hero-image {
        height: 450px;
        width: 450px;
    }
}
